<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Berners-Lee</title>
</head>
<body>
    <h1>Aca presentamos a Tim Berners-Lee</h1>
    <br>
    <img src="/img/Tim-Berners-lee.jpg" alt="Imagen de Tim Berners-Lee" height="500px">
    <br>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</body>
</html>